@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Quicksand';
}
body{
    background:lightcyan;
}
#contaner{
    height:100vh;
    background-color: #e5e8e5;
    color: #4e545c;
}

section{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display:flex;
    flex-direction: column;
}

button{
    border-radius: 40px;
    font-size:1.2rem;
    height: 60px;
    width: 100px;
    border:none;
    background-color: #4e545c;
    color: #e5e8e8;
    transition: açç 0.7s linear;
    margin-top: 2rem;
    outline-style:none;
}

button:hover{
    background-color: #000401;
}

input{
    display: block;
    background-color: #ccc;
    border-color: black;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

input.red-mode{
    background-color: #c9331f;
  
}

input.green-mode{
    background-color: green;
}